body{
  background: #efecec;
}
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px auto;  
}
.wrap {
  display: flex;
}
.question {
  border: solid 1px;
  width: 40%;
}
.countdown {
  border-bottom: solid 1px;
  display: flex;
  justify-content: flex-end;
  height: 58px;
}
.countdown p {
  margin-right: 10px;
}

.qaGroup {
  padding: 10px 0;
}
.scores {
  border: solid 1px;
  height: 60px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
#score{
  font-size: 24px;
}
.correct-answer {
  border: solid 1px;
  width: 40%;
  margin-top: 40px;
}
.correct-answer h3{
  font-size: 24px;

}
.qaGroup_Item h3 {
  font-size: 20px;
}
.scores h3{
  font-size: 24px;
}
.error {
  color: red;
}
#countdownTimer{
  color: green;
  font-size: 20px;
}
#showTime{
  font-size: 24px;
}
span{
  font-size: 16px;
}